:root {
  --black: #090909;
  --white: #ffffff;
  --light-Beige: #dec7a0;
  --dark-Beige: #c4a287;
  --dark-red: #7b070b;
  --main-red: #ba042d;
  --light-red: #d42a41;
  --lighter-red: #eb4b5b;
}
/* utilitis */
.container {
  max-width: 1280px;
  margin: 0px auto;
}
/* resset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--white);
  font-size: 20px;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background-color: var(--black);
  border: 1px solid var(--dark-red);
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}
/* text select color */
::selection {
  background: var(--dark-red);
  color: var(--black);
}
/* scroll-y styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-red);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-red);
}
/* header => hossein */
header {
  height: 100vh;
  background: linear-gradient(#090909c7, #090909c7),
    url("../../../assets/images/actors-header-image/Ãlvaro\ Morte.jpg")
      no-repeat;
  background-size: cover;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 50px;
}
.logo {
  width: 300px;
}
.nav-top-right {
  display: flex;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: inherit;
  border: 1px solid var(--white);
  border-radius: 50px;
  margin: 0 10px;
}
.nav-btn {
  padding: 10px 30px;
  background-color: var(--main-red);
  border-radius: 50px;
  transition: all 0.3s;
}
.menu {
  display: flex;
}
.menu-item {
  margin: 20px;
  position: relative;
  transition: all 0.5s;
}
.menu-item:hover ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--white);
  right: 0;
  top: 30px;
  border-radius: 10px;
}
.menu-item :hover {
  color: var(--main-red);
}

@keyframes goRight {
  from {
    translate: -30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0;
    scale: 100% 1;
  }
}
.header-main {
  animation-name: goRight;
  animation-duration: 3s;
  margin-top: 150px;
  max-width: 600px;
}
.header-main-subTitle {
  margin-bottom: 30px;
}
.header-main-title {
  font-size: 50px;
}
.header-main-title span {
  font-size: 50px;
  color: var(--main-red);
}
.header-main-description {
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
}
@keyframes goLeft {
  from {
    translate: 30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
.header-bottom {
  display: flex;
  justify-content: end;
  animation-name: goLeft;
  animation-duration: 3s;
  margin-top: 100px;
}
/* start winning-awards => cena */
.winning-awards-section {
  /* background-image must set there */
  background: #000;
}
.winning-awards-container {
  height: 350px;
  padding: 40px 80px;
  text-align: center;
}
.winning-awards-title {
  margin-bottom: 35px;
}
.winning-awards-title > h2 {
  font-size: 1.6rem;
}
.winning-awards-desc {
  margin-bottom: 35px;
}
.winning-awards-desc > p {
  font-size: 0.7rem;
  line-height: 26px;
}
.winning-awards-achievement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievement {
  margin: 0px 40px;
}
/* end winning-awards => cena */
