:root {
  --black: #090909;
  --white: #ffffff;
  --light-Beige: #dec7a0;
  --dark-Beige: #c4a287;
  --dark-red: #7b070b;
  --main-red: #ba042d;
  --light-red: #d42a41;
  --lighter-red: #eb4b5b;
}
/* utilitis */
.container {
  max-width: 1280px;
  margin: 0px auto;
}
/* resset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--white);
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
/* text select color */
::selection {
  background: var(--dark-red);
  color: var(--black);
}
/* scroll-y styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-red);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-red);
}
/* Header style */

.header {
  height: 130vh;
  background: linear-gradient(to top, #090909f8, #090909c7),
    url("../../assets/images/background.jpg") no-repeat;
  background-size: cover;
}
.menu {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 60px;
  height: 60px;
}
/* menu */
.menu-items {
  display: flex;
}
.menu-item {
  padding: 0 20px;
  transition: all 0.3s ease-in;
}
.menu-item:hover {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}
.menu-btn1 {
  padding: 10px 20px;
}
.menu-btn2 {
  padding: 10px 20px;
  background-color: var(--main-red);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.menu-btn2:hover {
  background-color: var(--white);
  color: var(--main-red);
  box-shadow: none;
}
/* header main */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.header-main-left {
  animation-duration: 3s;
  animation-name: goRight;
  width: 45%;
}
@keyframes goRight {
  from {
    translate: -30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0;
    scale: 100% 1;
  }
}
.info-box {
  padding: 5px 10px;
  margin: 0 10px;
}
.info-box1 {
  background-color: var(--lighter-red);
}
.info-box2 {
  background-color: var(--light-red);
}
.info-box3 {
  background-color: var(--main-red);
}
.site-title {
  font-size: 50px;
  margin-top: 20px;
}
.header-main-description {
  max-width: 450px;
  text-align: justify;
  margin-top: 40px;
}
.header-main-links {
  margin-top: 30px;
}
.header-main-link1 {
  padding: 10px 20px;
  background-color: var(--main-red);
  border-radius: 20px;
  transition: all 0.3s ease-in;
}
.header-main-link1:hover {
  background-color: var(--black);
}
.header-main-link2 {
  padding: 10px 20px;
  background-color: var(--dark-red);
  border-radius: 20px;
  margin-left: 20px;
  transition: all 0.3s ease-in;
}
.header-main-link2:hover {
  background-color: var(--black);
}
.header-main-right {
  animation-duration: 3s;
  animation-name: goLeft;
  width: 45%;
  padding-top: 50px;
}
@keyframes goLeft {
  from {
    translate: 30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
.header-poster {
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
/* started slider styles area*/
.slider-section {
  padding: 100px 50px;
}
/* end slider styles area*/
/* ********************** */
/* started about movie and slider actors */
.section-actors {
  background: var(--black);
  padding-top: 60px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.section-actors-container {
  display: grid;
}
/* about actors */
.about-actors {
  display: grid;
  grid-template-columns: 260px 2fr 1fr;
  border-radius: 5px;
}
.movie-desc {
  padding-top: 70px;
  padding-left: 30px;
}
.movie-desc-title {
  color: #fff;
}
.movie-desc-description {
  color: #cacaca;
  padding-right: 80px;
}
.movie-desc-description p:nth-child(1) {
  padding-top: 20px;
  margin-bottom: 15px;
}
.movie-about-actors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-left: 20px;
  border-left: 2px solid #fff !important;
}
.about-more-actors {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}
.about-more-image {
  width: 69px;
  height: 70px;
  border-radius: 50%;
}
.about-more-actors > h5 {
  color: white;
}
.movie-img {
  width: 260px;
  height: 100%;
  border-radius: 5px;
}
/* actors slid */
.section-actors-slide {
  padding-top: 100px;
  padding-bottom: 100px;
}
.actors-slid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center !important;
}
.actor-sliders {
  width: 240px;
  height: 100%;
  position: relative;
}
.actors-images {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}
.actors-description {
  height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #0000009e;
}
.actors-description > h4 {
  color: white;
  padding-top: 8px;
}
.actors-description > a {
  color: #cacaca;
  /* padding-top: 5px; */
}
/* end about movie and slider actors */

/* started section 6 styles*/
.section-6 {
  height: 70vh;
  background-color: #ea1111;
  background: linear-gradient(to top, #090909f8, #090909c7),
    url("../../assets/images/slider-images/slider-img4.jpg   ") no-repeat;
  background-size: cover;
}
.sec6-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.sec6-container .video-box {
  width: 50%;
  margin-right: 40px;
}
.sec6-container .video-box > video {
  width: 100%;
}
.sec6-content-box {
  width: 40%;
  text-align: right;
}
.sec6-label-box > span {
  padding: 5px 10px;
  margin: 0 10px;
}
.sec6-label-1 {
  background-color: var(--dark-red);
}
.sec6-label-2 {
  background-color: var(--main-red);
}
.sec6-label-3 {
  background-color: var(--light-red);
  margin-right: 0px !important;
}
.sec6-content-box > h1 {
  font-size: 40px;
  margin: 10px 0px;
}
.sec6-content-box > p {
  font-size: 20px;
  margin: 30px 0px;
  text-align: justify;
}
.sec6-button-box {
  margin-top: 50px;
}
.sec6-button-1 {
  padding: 10px 20px;
  background-color: var(--main-red);
  border-radius: 20px;
  transition: all 0.3s ease-in;
}
.sec6-button-1:hover {
  background-color: var(--black);
  border: 1px solid var(--dark-red);
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}

.sec6-button-2 {
  padding: 10px 20px;
  background-color: var(--light-red);
  border-radius: 20px;
  margin-left: 20px;
  transition: all 0.3s ease-in;
}
.sec6-button-2:hover {
  background-color: var(--black);
  border: 1px solid var(--dark-red);
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}
/* end section 6 styles*/

/* started section 7 styles*/
