:root {
  --black: #09090909;
  --white: #ffffff;
  --light-Beige: #dec7a0;
  --dark-Beige: #c4a287;
  --dark-red: #7b070b;
  --main-red: #ba042d;
  --light-red: #d42a41;
  --lighter-red: #eb4b5b;
}
/* utilitis */
.container {
  max-width: 1280px;
  margin: 0px auto;
}
/* resset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  font-size: 20px;
}
/* Header style */

.header {
  height: 100vh;
  background: linear-gradient(to top, #090909f8, #090909c7),
    url("../../assets/images/background.jpg") no-repeat;
  background-size: cover;
}
.menu {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.menu-items {
  display: flex;
}
.menu-item {
  padding: 0 20px;
  transition: all 0.3s ease-in;
}
.menu-item:hover {
  border-top: 2px solid var(--white);
}
.menu-btn1 {
  padding: 10px 20px;
}
.menu-btn2 {
  padding: 10px 20px;
  background-color: var(--main-red);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.menu-btn2:hover {
  background-color: var(--white);
  color: var(--main-red);
  box-shadow: none;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
.header-main-left {
  animation-duration: 3s;
  animation-name: goRight;
}
@keyframes goRight {
  from {
    translate: -30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
.info-box {
  padding: 5px 10px;
  margin: 0 10px;
}
.info-box1 {
  background-color: var(--lighter-red);
}
.info-box2 {
  background-color: var(--light-red);
}
.info-box3 {
  background-color: var(--main-red);
}
.site-title {
  font-size: 50px;
  margin-top: 20px;
}
.header-main-description {
  max-width: 450px;
  text-align: justify;
  margin-top: 40px;
}
.header-main-links {
  margin-top: 30px;
}
.header-main-link1 {
  padding: 10px 20px;
  background-color: var(--main-red);
  border-radius: 20px;
}
.header-main-link2 {
  padding: 10px 20px;
  background-color: var(--dark-red);
  border-radius: 20px;
  margin-left: 20px;
}
.header-poster {
  width: 300px;
  height: 40vh;
}
