:root {
  --black: #090909;
  --white: #ffffff;
  --light-Beige: #dec7a0;
  --dark-Beige: #c4a287;
  --dark-red: #7b070b;
  --main-red: #ba042d;
  --light-red: #d42a41;
  --lighter-red: #eb4b5b;
}
/* utilitis */
.container {
  max-width: 1280px;
  margin: 0px auto;
}
/* resset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--white);
  font-size: 20px;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background-color: var(--black);
  border: 1px solid var(--dark-red);
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}
/* text select color */
::selection {
  background: var(--dark-red);
  color: var(--black);
}
/* scroll-y styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-red);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-red);
}
/* header => hossein */
.alvaro-header {
  background: linear-gradient(#090909c7, #090909c7),
    url("../../assets/images/actors-header-image/Álvaro\ Morte.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.pedro-header {
  background: linear-gradient(#090909c7, #090909c7),
    url("../../assets/images/actors-header-image/Pedro\ Alonso.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.itzair-header {
  background: linear-gradient(#090909c7, #090909c7),
    url("../../assets/images/actors-header-image/Itziar\ Ituño.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.ursula-header {
  background: linear-gradient(#090909c7, #090909c7),
    url("../../assets/images/actors-header-image/úrsula\ corberó.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 50px;
}
.logo {
  width: 300px;
}
.nav-top-right {
  display: flex;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: inherit;
  border: 1px solid var(--white);
  border-radius: 50px;
  margin: 0 10px;
}
.nav-btn {
  padding: 10px 30px;
  background-color: var(--main-red);
  border-radius: 50px;
  transition: all 0.3s;
}
.menu {
  display: flex;
}
.menu-item {
  margin: 20px;
  position: relative;
  transition: all 0.5s;
}
.menu-item:hover ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--white);
  right: 0;
  top: 30px;
  border-radius: 10px;
}
.menu-item :hover {
  color: var(--main-red);
}

@keyframes goRight {
  from {
    translate: -30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0;
    scale: 100% 1;
  }
}
.header-main {
  animation-name: goRight;
  animation-duration: 3s;
  margin-top: 90px;
  width: 50%;
}
.header-main-subTitle {
  margin-bottom: 30px;
}
.header-main-title {
  font-size: 50px;
}
.header-main-title span {
  font-size: 50px;
  color: var(--main-red);
}
.header-main-description {
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
}
@keyframes goLeft {
  from {
    translate: 30vh 0;
    scale: 100% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
.header-bottom {
  display: flex;
  justify-content: end;
  animation-name: goLeft;
  animation-duration: 3s;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
}
/* start winning-awards => cena */
.winning-awards-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background: #000;
}
.winning-awards-container {
  height: 350px;
  padding: 0px 80px;
  text-align: center;
}
.winning-awards-title {
  margin-bottom: 35px;
}
.winning-awards-title > h2 {
  font-size: 1.6rem;
}
.winning-awards-desc {
  margin-bottom: 35px;
}
.winning-awards-desc > p {
  font-size: 0.7rem;
  line-height: 26px;
}
.winning-awards-achievement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievement {
  margin: 0px 40px;
}
/* end winning-awards => cena */
/* started footer styles*/
.footer {
  height: 50vh;
  background: linear-gradient(to top, #250000e2, #090909),
    url("../../assets/images/footer.png") no-repeat;
  background-size: cover;
}
.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.footer-box-1 {
  width: 35%;
}

.footer-box-1 > h1 {
  font-size: 30px;
}
.footer-box-1 > h4 {
  font-size: 15px;
  margin: 15px 0px;
}
#email:focus {
  background-color: var(--black);
  border: 1px solid var(--dark-red);
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}
.footer-box-2 {
  font-size: 15px;
  margin: 15px 0px;
  text-align: center;
  width: 15%;
}
.footer-menu {
  margin-top: 20px;
}
.footer-menu-item {
  transition: all 0.3s ease-in;
  margin: 8px;
}
.footer-menu-item > a:hover {
  box-shadow: 0px 0px 38px 4px var(--dark-red);
}
.footer-box-3 {
  width: 35%;
}
.footer-box-3 h1 {
  margin: 10px;
  font-size: 28px;
}
.footer-box-3 p {
  font-size: 18px;
  margin: 10px;
}
.footer-box-4 {
  width: 10%;
}
.footer-icon img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 10px;
}
.footer-icon img:hover {
  box-shadow: 0px 0px 38px 4px var(--dark-red);
  border-radius: 10px;
}

/* hadis styles */

.about {
  width: 100%;
  height: 100vh;
  padding: 78px 0px;
  background-color: black;
}
.about img {
  height: auto;
  width: 420px;
}
.about-text {
  color: white;
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-text p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-text h3 {
  padding-bottom: 10px;
}
button {
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  background-color: pink;
  border: 1px solid transparent;
  margin-bottom: 5px;
}
button:hover {
  background: transparent;
  color: white;
  border: 1px solid pink;
}
.spen-1 {
  background-color: blueviolet;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spen-2 {
  background-color: blueviolet;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.spen {
  display: flex;
}
